<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Customer List</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/list-customers.css}"/>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <h2>CRM - Customer Relationship Manager</h2>
    </div>
</div>

<div id="container">
    <div id="button-container">
        <form action="#" th:method="GET" th:action="@{/customer/addCustomer}">
            <input type="submit" value="Add Customer">
        </form>
    </div>
    <div id="content">
        <table style="border: black">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
            <th:block th:each="customer : ${customers}">
                <tr>
                    <td th:text="${customer.firstName}"></td>
                    <td th:text="${customer.lastName}"></td>
                    <td th:text="${customer.email}"></td>
                </tr>
            </th:block>
        </table>
    </div>
</div>
</body>
</html>